* {
	box-sizing: border-box;
	font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: gray;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

#root {
	background-color: #202124;
	height: 100vh;
}

h1,
h2 {
	color: white;
}

@font-face {
	font-family: "Google Sans";
	src: url("./fonts/Google-Sans.ttf");
}
