#new-project-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	justify-content: center;
}

#new-project-container svg[data-testid="HomeIcon"] {
	left: 1rem;
	position: absolute;
	top: 1rem;
}

#new-project-container .MuiFormControlLabel-label {
	color: white;
}
