#status-container {
	align-items: center;
	border-radius: 0.5rem;
	display: flex;
	gap: 0.5rem;
}

#status-container span {
	color: white;
}

#status-icon {
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
}
